.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 55px;
        margin: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
        color: rgb(0, 217, 255);
        text-shadow: 2px 2px #000;
        width: 60%;
        text-align: center;
    }

    p{
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 1rem;
        color: ffff;
        font-style: italic;
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
}
