.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
  

    h1 {
        font-family: 'Bebas Neue', cursive;
        font-size: 65px;
        margin: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
        color: #fff0e5;
        text-shadow: 2px 2px #000;
        width: 60%;
        text-align: center;
    }
    span {
        text-decoration: underline;
        text-decoration-color: #3224a2;
        animation: color-change 5s linear infinite alternate;
        width: 1px;
      }
      
      @keyframes color-change {
        0% {
          text-decoration-color: #17d1de;
        }
        
        50% {
          text-decoration-color: #ad15ff;
        }
        
        100% {
          text-decoration-color: #1596f9;
        }
      }
      

    p{
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 1rem;
        color: ffff;
        font-style: italic;
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
}
