
    .navigation {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 68px;
      width: 100%;
      border-bottom: 2px solid #fff0e5;
      
        ul {
          display: flex;
          padding: 0;
          
          
    
          
      
          a {
            text-decoration: none;
            list-style: none;
            padding: 10px;
    
            
            
      
            li {
              color: #fff;
              transition: 0.2s;
              cursor: pointer;
              font-size: 15px;
              font-weight: bold;
              
    
              
              &:hover {
                color: rgb(0, 255, 187);
              }
            }
          }
        }
      }
    
      