

*{
background-color: rgb(68, 0, 255);
font-family: 'Roboto', sans-serif;
color: #fff;
font-style: italic;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: gradient(#fff, #000);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    ul {
      display: flex;
      margin: 30px;
      padding: 0;
      list-style: none;
      

      
  
      a {
        text-decoration: none;
        list-style: none;
        padding: 10px;

        
        
  
        li {
          color: #fff;
          transition: 0.2s;
          cursor: pointer;
          font-size: 15px;
          font-weight: bold;
          

          
          &:hover {
            color: rgb(214, 104, 254);
            transition: 0.4s;
          }
        }
      }
    }
  }

  .logo {
    img {
      width: 100px;
      height: 100px;
      margin: 0 20px;
      display: flex;
      
    }
  
  }
  
.cursor {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid pink;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: 0.2s;
  z-index: 2;
  backdrop-filter: brightness(110%);
  &.hovered {
    width: 30px;
    height: 30px;
  }
}